In [1]:
import pandas as pd
df=pd.read_csv('house.sale.price.csv')
df.head()

,Id,MSZoning,LotArea,LotShape,OverallCond,YearBuilt,RoofStyle,Foundation,TotalBsmtSF,Heating,Electrical,GrLivArea,KitchenQual,TotRmsAbvGrd,GarageType,GarageYrBlt,GarageArea,GarageCond,YrSold,SalePrice
0,1,RL,8450,Reg,5,2003,Gable,PConc,856.0,GasA,SBrkr,1710,Gd,8,Attchd,2003.0,548.0,TA,2008,208500.0
1,2,RL,9600,Reg,8,1976,Gable,CBlock,1262.0,GasA,SBrkr,1262,TA,6,Attchd,1976.0,460.0,TA,2007,181500.0
2,3,RL,11250,IR1,5,2001,Gable,PConc,920.0,GasA,SBrkr,1786,Gd,6,Attchd,2001.0,608.0,TA,2008,223500.0
3,4,RL,9550,IR1,5,1915,Gable,BrkTil,756.0,GasA,SBrkr,1717,Gd,7,Detchd,1998.0,642.0,TA,2006,140000.0
4,5,RL,14260,IR1,5,2000,Gable,PConc,1145.0,GasA,SBrkr,2198,Gd,9,Attchd,2000.0,836.0,TA,2008,250000.0